@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0 2px 0 #060968;
    }
  }
}

body {
  background-color: #1F23A0;
  font-family: Roboto Mono, serif;
}
