@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0 2px 0 #060968;
    }

    .text-shadow-2 {
      text-shadow: 0 6px 0 #373BD3;
    }

    .text-shadow-3 {
      text-shadow: 0 2px 0 #1F23AD;
    }
  }
}

body {
  background-color: #1F23A0;
  font-family: Roboto Mono, serif;
  user-select: none;
}
